@import "mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  color: @text;
}

#workspaces button {
  color: @green;
  transition: 0.5s ease-in-out;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.active {
  color: @red;
  transition: 1s ease;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
  color: #ffffff;
  font-weight: bold;
  margin: 0 5px;
}

#backlight {
  font-weight: bold;
  margin: 0 5px;
}

#pulseaudio {
  font-weight: bold;
  margin: 0 5px;
}

#battery {
  font-weight: bold;
  margin: 0 5px;
}

#network {
  font-weight: bold;
  margin: 0 5px;
}

#memory {
  font-weight: bold;
  margin: 0 5px;
}

#cpu {
  font-weight: bold;
  margin: 0 5px;
}

#power {
  font-weight: bold;
  margin: 0 5px;
}
